<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 2</title>
    <link rel="stylesheet" href="image">
</head>
<body>
    <h1 class="heading">Click on any book to see the details.</h1><br>
    <div class="image">
        <table>
            <% let i=0 %>
            <% data.forEach(data =>{ %>
            <% i++ %>
            <tr><td><a href="<%= `/books/${data._id}` %>"><%= data.name %></a></td></tr><br>
            <% }); %>
        </table>
    </div><br>
    <hr>
    <ul class="nav">
        <a href="/home">List of Books</a>&ensp;<span>|</span>&ensp;
        <a href="/addNewBook">Add Book</a>&ensp;<span>|</span>&ensp;
        <a href="/DeleteABook">Delete A Book</a>&ensp;
    </ul>
    <hr>
</body>
</html>
